@use '@packages/styles/src/mixins';

.wrapper {

  .items {
    @include mixins.box-size(100%, 40px);
    @include mixins.text(var(--text-primary), 18px);
    @include mixins.flex;
    gap: 12px;

    .item{
      cursor: pointer;
      transition: color 0.2s;

      &_active{
        color: var(--blue-primary);
      }
    }
  }
}