//@import "reset";

html {
    height: 100vh;
    width: 100%;
    font-family: inter, sans-serif;
    user-select: none;
    scroll-behavior: smooth;
}

body  {
    height: 100vh;
    width: 100%;
}

::-webkit-scrollbar {
    height: 6px;
    width: 14px;
}


::-webkit-scrollbar-thumb {
    background-clip: content-box;
    border: 5px solid transparent;
    border-radius: 10px;
}