@use '@packages/styles/src/mixins';

.wrapper {
  @include mixins.box-size(100%, 100%);
  @include mixins.flex-column(space-between, center);
  gap: 12px;
  background-color: var(--bg-substrate);
  position: relative;

.header{
  @include mixins.box-size(100%, 40px);
  @include mixins.flex(space-between, center);

  .block{
    @include mixins.flex;
    gap: 18px;
  }
}

  .cardGroup {
    @include mixins.flex(center, center);
    width: 100%;
    flex: 1;
    gap: 12px;
    min-height: 70%;

    .cardList {
      @include mixins.box-size(80%, 100%);
    }

    .cardPreview {
      @include mixins.box-size(20%, 100%);
      min-width: 350px;
    }
  }

  .map {
    @include mixins.box-size(100%, 30%);
  }
}