@use '@packages/styles/src/mixins';

.wrapper {
  @include mixins.box-size(100%, 100%);
  @include mixins.flex-column(space-between, center);
  gap: 12px;
  padding: 20px;
  background-color: var(--bg-substrate);

  .cardGroup {
    @include mixins.flex(center, center);
    width: 100%;
    flex: 1;
    gap: 12px;
    min-height: 50%;

    .cardList {
      @include mixins.box-size(100%, 100%);
    }

    .cardPreview {
      @include mixins.box-size(100%, 100%);
      max-width: 300px;
    }
  }

  .map {
    @include mixins.box-size(100%, 100%);
  }
}