@use 'styleUtilities/mixins';

.wrapper {
  @include mixins.box-size(100%, 100%);
  @include mixins.flex-column(space-between, center);
  gap: 12px;
  padding: 20px;

  .widget {
    width: 100%;
  }
}