@use '@packages/styles/src/mixins';

.wrapper {
  @include mixins.box-size(100%, 100%);
  @include mixins.text(var(--text-primary), 14px);
  @include mixins.flex-column();
  padding: 12px;
  position: relative;

  .appState{
    position: absolute;
    right: 12px;
    top: 12px;
    z-index: 10;
  }

  .tabs{
    @include mixins.box-size(100%, 100%);
    @include mixins.flex-column;
  }

  .cardContainer{
    @include mixins.box-size(100%, 100%);
    @include mixins.flex-column;
    //background-color: var(--bg-primary);
    border-radius: 0 0 12px 12px;

    .main{
      @include mixins.box-size(100%, 100%);
      flex: 1;
    }
  }
}
