@use '@packages/styles/src/mixins';

.wrapper {
  @include mixins.box-size(100%, 100%);
  @include mixins.text(var(--text-primary), 14px);
  @include mixins.flex-column();
  padding: 12px;
  position: relative;
  gap: 12px;

  .appState{
    position: absolute;
    right: 12px;
    top: 12px;
    z-index: 10;
  }

  .tabs{
    @include mixins.box-size(100%, 40px);
    @include mixins.flex();
    gap: 12px;

    .tab{
      @include mixins.box-size(auto, 40px);
      @include mixins.flex();
      padding: 12px;
      background-color: var(--bg-primary);
      border-radius: 12px;
      cursor: pointer;
    }
  }

  .main{
    @include mixins.box-size(100%, 100%);
    flex: 1;
  }
}
