@use '@packages/styles/src/mixins';

.wrapper {
  @include mixins.flex-column;
  @include mixins.box-size(100%, 100%);
  background-color: var(--bg-primary);
  border-radius: 4px;

  &_firstLvl {
    padding: 12px;
    gap: 4px;
  }

  &_firstElement {
    padding: 12px;
    border-radius: 0 0 0 4px;
  }

  .name {
    @include mixins.text(var(--text-primary), 16px, 700);
    margin-bottom: 12px;
  }

  .items {
    @include mixins.box-size(100%, 100%);
  }
}