@use '@packages/styles/src/mixins';

.wrapper {
  @include mixins.box-size(100%, 100%);
  @include mixins.text(var(--text-primary), 18px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .tabs {
    @include mixins.box-size(100%, 30px);
    @include mixins.flex(flex-start, center);
    min-height: 30px;
    gap: 12px;
    padding: 0 20px;
    border-bottom: 2px solid black;
  }

  .main {
    padding: 20px;
    flex: 1;
  }
}