@use '@packages/styles/src/mixins';

.wrapper {
  @include mixins.flex(center, center);
  gap: 12px;
  transition: background-color 0.25s ;
  border-radius: 12px;
  padding: 6px 12px;

  &[data-disabled=true]{
    background-color: red!important;
  }

  .input{
    border-radius: 12px;
    padding: 6px 12px;
    color: var(--text-primary);
    background-color: var(--bg-substrate);


  }
}
