@use '@packages/styles/src/mixins';

.wrapper {
  @include mixins.box-size(100%, 100%);
  @include mixins.flex-column(center, center);
  gap: 12px;

  .navigations {
  }

  .content {
    @include mixins.box-size(100%, auto);
    @include mixins.flex;
    border-radius: 12px;
    background-color: var(--bg-primary);
    flex: 1;
  }
}