@use '@packages/styles/src/mixins';

.wrapper {
  @include mixins.box-size(100%, 100%);
  @include mixins.flex-column(center, center);
  gap: 12px;


  .tabs{
    @include mixins.box-size(100%, 100%);
    @include mixins.flex-column;
  }

  .reportsContainer{
    @include mixins.box-size(100%, 100%);
    @include mixins.flex-column;
    background-color: var(--bg-primary);
    border-radius: 0 0 12px 12px;

    .main{
      @include mixins.box-size(100%, 100%);
      flex: 1;
    }
  }
}